body {
    text-align: center;
}

#welcome {

    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
}

h1 {
    text-shadow: 2px 2px #F8BBDO;
    font-size: 40px;
    font-family: 'Pacifico', cursive;
}

h2 {
    font-size: 30px;
    font-family: 'Pacifico', cursive;
}

#bio {
    padding: 20px;
    font-size: 18;
    text-align: center;
}

#drawing {
    border-radius: 50%;
    margin-bottom: 50px;
    width: 150px;
}

p {
    font-size: 23px;
    font-family: 'Pacifico', cursive;
}

.menu {
    display: inline;
    list-style: none;
    font-family: sans-serif;
    position: absolute;
    right: 30px;
    top: 10px;
    z-index: 10;
    cursor: pointer;
}

.links {
    float: left;
    color: black;
    padding-top: 5px;
    padding-left: 9px;
    padding-bottom: 5px;
    padding-right: 9px;
    font-family: fantasy;
    font-size: 20px;
}

.links:hover {
    background-color: dodgerblue;
}

h3 {
    font-size: 35px;
    font-family: 'Pacifico', cursive;
    text-decoration: underline;
}

h4 {
    font-size: 35px;
    font-family: 'Pacifico', cursive;
    text-decoration: underline;
}

#favourite drawings {
    background: linear-gradient(#ed2fb7 0%, #ed2f4c 100%);
}
